@import '../../variables.scss';

.brands {
  margin-top: 78px;

  .container-title {
    h5 {
      font-size: 30px;
      font-weight: $font-weight-bold;
      color: $rosa-primario;
      text-align: center;
    }
  }

  .container-brands {
    overflow: hidden;
    width: calc(100%);
    position: relative;
  }

  .buttons-prev-next {
    button {
      background-color: transparent;
      border: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;

      img {
        width: 56px;
        height: 56px;
      }
    }

    button:hover {
      cursor: pointer;
    }

    .prev {
      left: 50px;
    }

    .next {
      right: 50px;
    }
  }

  .brand-cards {
    display: flex;
    position: relative;
    gap: 50px;
    padding: 5px;
    transition: .3s ease-in-out;
    margin-top: 52px;
    margin-bottom: 80px;
  }
}