@import '../../../variables.scss';

.button-category {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  height: 174px;
  display: flex;
  align-items: center;
  gap: 22px;
  font-size: $p-medium;
  font-weight: $font-weight-medium;
  transition: .2s;

  i {
    width: 128px;
    height: 128px;
    background-color: #F4F4F4;
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button-category:hover {
  color: $rosa-primario;
  transition: .2s;
  cursor: pointer;
}

.category-selected {
  color: $rosa-primario;
}