@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font-family-modal-lato: "Lato", sans-serif;
$font-family-modal-montserrat: "Montserrat", sans-serif;

$rosa-primario: #F71963;
$cinza: #9F9F9F;
$preto-produto: #3F3F40;
$preto-subtitulo: #4E4E4E;
$preto-footer: #2A2A2A;
$azul-modal: #041E50;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

$title-large: 48px;
$title-medium: 30px;

$subtitle-large: 36px;

$p-small: 12px;
$p-medium: 16px;
$p-large: 20px;

$product-description-size: 15px;

@mixin button-style ($width, $height, $font-size) {
  width: $width;
  height: $height;
  font-size: $font-size;
  background-color: $rosa-primario;
  color: white;
  font-weight: $font-weight-semibold;
  border: none;
  border-radius: 5px;
}
