@import '../../variables.scss';

.banner-home {
  background-image: url('../../assets/banner.png');
  background-size: cover;
  background-position: center;
  height: 395px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-weight: $font-weight-semibold;
  padding-left: 90px;
  gap: 20px;

  h1 {
    font-size: $title-large;
  }

  h2 {
    font-size: $subtitle-large
  }

  button {
    @include button-style(227px, 60px, 18px)
  }
}


@media screen and (max-width: 900px) {
  .banner-home {
    padding-left: 5%;
    padding-bottom: 15px;

    h1 {
      font-size: 40px !important;
    }
  
    h2 {
      font-size: 28px !important;
    }
  
    button {
      width: 180px !important;
      height: 50px !important;
      font-size: 15px !important;
    }
  }
}